@font-face {
    font-family:'Eagle GT II', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/eagle-gt-ii')
}
@font-face {
   font-family: 'Trashbox', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/trashbox')
}
@font-face {
    font-family: 'SF Automaton', sans-serif;
    font-family: 'SF Automaton Condensed', sans-serif;
    font-family: 'SF Automaton Extended', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/sf-automaton');
}
ul{
    list-style-type: none;
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #fff;
}    
li{
    float: left;
}
li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
img.search{
    width: 20px;
    height: 20px;
}
img.vinyl{
    width: 40px;
    height: 40px;
}
img.logo{
   width:120px;
    height: 30px;
}
h1{
    color:white;
    font-family:'eagle gt ii', sans-serif;
    font-size: 50px;
    background-color: none;
}
body{
    color:white;
    background-color: black;
    font-family:'sf automaton', sans-serif;
    margin:0%;
}
h2{
    color:white;
    font-family:'sf automaton', sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
    margin-left:10px;
    border-bottom: 1px solid #fff;
}
div.topAlbum{
    display: flex ;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.overlay{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
}

div.left{
    width: 100px;
    padding: 0;
    border: none;
    background: none;
    opacity: 1;
}
div.right{
    width: 100px;
    padding: 0;
    border: none;
    background: none;
    opacity: 1;
}
div.imgnavbar{
    display: flex;
    justify-content: center;
}
div.fotorama{
    padding: 10px;
}