@font-face {
    font-family:'Eagle GT II', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/eagle-gt-ii')
}
@font-face {
   font-family: 'Trashbox', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/trashbox')
}
@font-face {
    font-family: 'SF Automaton', sans-serif;
    font-family: 'SF Automaton Condensed', sans-serif;
    font-family: 'SF Automaton Extended', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/sf-automaton');
}
@font-face {
    font-family: 'Lexend', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/lexend');
}
body {
    height: 100vh;
    margin: 0;
    font-family: 'sf automaton', sans-serif;
}
/*new navbar start*/
.topnav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  border-bottom: 2px solid rgb(0,0,0);
  text-align: center;
  vertical-align: middle;
  z-index:1000;
  margin: 0;
  top:0;
}
.topnav a {
  font-family: 'sf automaton', sans-serif;
  letter-spacing: 1px;
  display: inline-block;
  color: #f2f2f2;
  padding: 12px 16px;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom:0px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  transition: 0.2s  ease-in-out;
  overflow: hidden;
}

.topnav a:hover {
  font-size: 18px;
  color: rgb(255, 255, 255);
  transform: scale(1.1) translateZ(0);
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav a.icon {
  display:none;
}
.logo{
    width: 120px;
    height: fit-content;
}  

.searchbar {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      margin-bottom: 5px;
}

.searchbar input[type="text"] {
      font-family: 'sf automaton', sans-serif;
      letter-spacing: 1px;
      font-size: 10px;
      background-color: rgb(255, 255, 94);
      padding: 6px;
      margin-right: 0px;
      margin-bottom: 7px;
      border: none;
      height: 30px;
      border-radius: 10px;
      width: 150px;
}

.searchbar button[type="submit"] {
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  padding: 5px 10px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.searchbar button[type="submit"]:hover {
  background-color: rgb(255, 116, 167);
}
.profile img{
  width:30px;
  height:30px;
  border-radius: 50%;
  transition: 0.2s  ease-in-out;
}
.profile img:hover {
  transform: scale(1.1) translateZ(1);
}
@media screen and (max-width: 750px) {
  .topnav a, .topnav .searchbar, .topnav .profile {
      margin-left: 0px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon{
      float: none;
      right: 0;
      top: 0;
      position: fixed;
      margin-top: 2px;
      display: block;
  }
  .topnav .profile img{
      float: left;
      display: block;
  }
  .topnav.responsive {
      position: sticky;
  }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
  .searchbar {
      display:none;
  }
  #myTopnav.responsive {
      position:fixed;
      z-index:1000;
  }
  #myTopnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  #myTopnav.responsive a{
      float: none;
      display: block;
      text-align: left;
      margin-left: 5%;
  }
  #myTopnav.responsive .searchbar {
      float: none;
      display: block;
      text-align: left;
      margin-left: 7%;
  }
  #myTopnav.responsive img{
      float: none;
      display: block;
      text-align: left;
      margin-left: 0.5%;
  }
  #myLinks {
    display: block;
  }
}
/*new navbar end*/
h1{
    color:black;
    font-family:'SF Automaton', sans-serif;
    font-size: 50px;
    background-color: none;
}
/*div1 start*/
.div1{
    background-image: url('images/menu1.gif');
    background-size: cover;
    background-position: center; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
    position: relative;
    height:300px;  
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.div1 img {
    width: 500px;
}
.div1 p{
    color: white;
    font-family: 'SF Automaton', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px;
}
h2{
    color:black;
    font-family:'sf automaton', sans-serif;
    font-size: 35px;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
    margin-left:10px;
    border-bottom: 2px solid black;
}
div.topAlbum{
    display: flex ;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.overlay{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
}
div.left{
    width: 100px;
    padding: 0;
    border: none;
    background: none;
    opacity: 1;
}
div.right{
    width: 100px;
    padding: 0;
    border: none;
    background: none;
    opacity: 1;
}
div.imgnavbar{
    display: flex;
    justify-content: center;
}
div.fotorama{
    padding: 10px;
}
/*div2 here*/
.div2 {
    width:100vw;
    height: 200px;
    background-color: rgb(255, 0, 115);;
    animation-name: div2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
    @keyframes div2 {
    0%   {background-color: rgb(255, 141, 192);}
    25%  {background-color: rgb(255, 255, 0);}
    50%  {background-color: rgb(255, 0, 115);}
    100% {background-color: rgb(60, 213, 255);}
}
.div2 h1{
    color: white;
    font-family: 'SF Automaton', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
}
.div2 p{
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    font-family: 'lexend', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
footer{.video-container {
  position: relative;
  width: 100%;
  height: 500px; /* adjust the height to your liking */
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
    background-color: rgb(216, 223, 255);
    color:black;
    font-family: 'SF Automaton', sans-serif;
    padding: 15px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}
