@font-face {
    font-family:'Eagle GT II', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/eagle-gt-ii')
}
@font-face {
   font-family: 'Trashbox', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/trashbox')
}
@font-face {
    font-family: 'SF Automaton', sans-serif;
    font-family: 'SF Automaton Condensed', sans-serif;
    font-family: 'SF Automaton Extended', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/sf-automaton');
}
@font-face {
    font-family: 'Lexend', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/lexend');
}

body {
    background-size: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding:0;
}
/*new navbar start*/
.topnav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    border-bottom: 2px solid rgb(0,0,0);
    text-align: center;
    vertical-align: middle;
    z-index:1000;
    margin: 0;
    top:0;
}
  .topnav a {
    font-family: 'sf automaton', sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    color: #f2f2f2;
    padding: 12px 16px;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    transition: 0.2s  ease-in-out;
    overflow: hidden;
  }

  .topnav a:hover {
    font-size: 18px;
    color: rgb(255, 255, 255);
    transform: scale(1.1) translateZ(0);
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .topnav a.icon {
    display:none;
  }
  .logo{
      width: 120px;
      height: fit-content;
  }  
  
  .searchbar {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-bottom: 5px;
  }
  
  .searchbar input[type="text"] {
        font-family: 'sf automaton', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        background-color: rgb(255, 255, 94);
        padding: 6px;
        margin-right: 0px;
        margin-bottom: 7px;
        border: none;
        height: 30px;
        border-radius: 10px;
        width: 150px;
  }
  
  .searchbar button[type="submit"] {
    background-color: rgb(0, 0, 0, 0);
    color: #fff;
    padding: 5px 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .searchbar button[type="submit"]:hover {
    background-color: rgb(255, 116, 167);
  }
  .profile img{
    width:30px;
    height:30px;
    border-radius: 50%;
    transition: 0.2s  ease-in-out;
  }
  .profile img:hover {
    transform: scale(1.1) translateZ(1);
  }
  @media screen and (max-width: 750px) {
    .topnav a, .topnav .searchbar, .topnav .profile {
        margin-left: 0px;
    }
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon{
        float: none;
        right: 0;
        top: 0;
        position: fixed;
        margin-top: 2px;
        display: block;
    }
    .topnav .profile img{
        float: left;
        display: block;
    }
    .topnav.responsive {
        position: sticky;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .searchbar {
        display:none;
    }
    #myTopnav.responsive {
        position:fixed;
        z-index:1000;
    }
    #myTopnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #myTopnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-left: 5%;
    }
    #myTopnav.responsive .searchbar {
        float: none;
        display: block;
        text-align: left;
        margin-left: 7%;
    }
    #myTopnav.responsive img{
        float: none;
        display: block;
        text-align: left;
        margin-left: 0.5%;
    }
    #myLinks {
      display: block;
    }
  }
/*new navbar end*/

.backg{
    position: fixed;
    background-color:rgb(127, 255, 212, 0.5);
    right: 0;       
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*user container start*/
.container.userprofile {
    display:flex;
    place-items: center;
    justify-content: center;
    align-items: center;    
    margin: auto;
    flex-direction: column;;
}

.ticket {
    position: relative;
    margin-top: 5rem;
    max-width: 50rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: stretch;
    justify-content: flex-start; 
    /*position: relative;
    max-width: 1000px;
    width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    background-color: #f5f1da;
    border-radius: 10px;
    overflow: visible;
    justify-content: flex-start; 
    flex-direction: row;
    top: 50%;*/
}
@media (max-width: 300px) {
    .container.userprofile {
        max-width: 300px;
        margin: 10px auto;
    }
}
.ticket-left {
    width: 30%;
    height: auto;
    background-color: hsl(0, 0%, 0%);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius:10px;
    flex-direction: column;
    flex:0;
    padding: 20px;
    margin: 0px;
    border-right: 3px rgb(245, 241, 218);
    border-right-style: dashed;

}

/*left container content*/
.pfname {
    font-size: 1rem;
    font-family: 'lexend', sans-serif;
    color: white;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pfp {
    width: 10px;
    height: 70px;
    margin: 0 auto;
    display: block;
    top: 50%;
    left: 50%;
    position:absolute ;
}

.profilepic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10%;
    object-fit:cover;
}


/*left container end*/

/*right container content start*/
.ticket-right {
    background-color: rgb(245, 241, 218);
    border-radius:10px;
    margin: 0;
    padding: 20px;
    width:90%;
    flex: 1;
}

h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'sf automaton';
    color: hsl(0, 0%, 0%);
    margin-top: 10px;
    align-items: center;
    font-weight: bold;
    border-bottom: 2px solid black;
}

h2{
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eb91b4;
}

.bottombtns {
    position: relative;
    float:right;
    display: block;
    width: 100%;
    flex-direction: row;
    border: none;
    background: none;
    bottom: 10px;
    right: 10px;
    margin-top: 30px;
}

.bottombtns button:hover{
    margin-top: auto;
    background-color: #ffffff;
    color: white;
    border-radius: 10px;
    filter: invert(100%);
    transform: scale(1.1);
    transition: 0.5s;
}

div.bottombtns button{
    border:none;
    background: none;
}

.commsbutton img, .frndbutton img {
    background: none;
    flex-direction: row;
    width: 50px;
    height: 50px;
    line-height: 20px;
    cursor: pointer;
    padding: 0;
}

.ticket-right p {
    font-size: 1.3 rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(21, 21, 21);
    margin-top: 10px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    gap: 20px;
}
/*right container content end*/
/*media query area*/
@media (max-width: 750px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem;
    }

    .ticket {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
        padding:5px;
    }

    .ticket-left {
        width: 100%;
        border-right-style: none;
        border-bottom: 3px rgb(245, 241, 218);
        border-bottom-style: dashed;
    }

    .ticket-right {
        width: 100%;
        padding: 5px;
    }

    .bottombtns {
        flex-direction: row; 
        margin-top: 20px; 
    }

    .card.card-body {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        margin-top: auto;
    }

    .friend-name,.album-name{
        display: none;  
    }

}
/*user container end*/

/*collapsable start*/
#commssection,#frndsection {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    justify-content: center;
    transition: height 0.5s ease-in-out;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.card.card-body {
    background-color: #f5f1da;
    width: max-content;
    min-height: 100px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    gap: 10px;
}

h3{
    font-family: 'sf automaton', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}

.collapsablepfp {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.collapsablename{
    font-size: 14px;
    font-family: 'lexend', sans-serif;
    color: #666;
}
.facecard{
    margin-left: 10%;
}
.facecard:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.friendlist, .commslist{
    flex-direction: row;
    display: flex;
    margin: auto;
    gap: 15px
}

.collapsablecontent{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 750px) {
    .card.card-body {
        background-color: #f5f1da;
        width: max-content;
        border: none;
        border-radius: 10px;
        padding: 20px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        gap: 10px;
    }
    .collapsablepfp {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}
@media (max-width: 450px){
    .collapsablename{
        display: none;
    }
}
footer{
    background-color: black;
    color:white;
    font-family: 'SF Automaton', sans-serif;
    padding: 15px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}